body{
    background-color: azure;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
.userpage{
    margin-top: 4rem;
}
.dash{
    position: relative;
    left:-40%;
}
.udash{
    
     /* width: 50%; */
    /* border: 1px solid black; */
    position: relative;
    left: 41%;
     /* margin: auto; */
    /* margin-top: 20%;  */ 
}
img{
    width: 70px;
    height: 70px;
    padding: 20px ;
    border-radius: 50%;
}
.photosize{
    width: 150px;
    height: 150px;
    padding: 20px ;
    border-radius: 50%;
}
td{
    text-align: left;
    padding-bottom: .4rem;
}
.lefttd{
    width: 9rem;
}
.righttd{
    width: 15rem;
}
