.space2 {
    display: inline-flex;
}
.reg{
    margin:.5rem
}
.passwordInputField{
    width: 20rem;
    margin: auto;
    display: none;
    /* visibility: hidden; */
}
.passwordBox{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}